<template>
  <h1>{{ this.slug }}</h1>
</template>

<script>
export default {
    data(){
        return {
            slug_text: ''
        }
    },
    async asyncData({ params }){
        const slug = params.slug;
        return { slug }
    }
}
</script>

<style>

</style>