<template>
  <div class="container">
    <div class="row">
      <div class="col-md-10 mx-auto border-bottom">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item :to="{ path: '/' }"
            ><i
              class="el-icon-s-home text-c-main"
              style="margin-right: 10px"
            ></i
            >Home</el-breadcrumb-item
          >
          <el-breadcrumb-item
            ><a :href="`/blog/post/${data.slug}`">{{
              data.title
            }}</a></el-breadcrumb-item
          >
        </el-breadcrumb>
        <div class="news-headlines-area mt-3">
          <div class="headlines">
            <h1>{{ data.title }}</h1>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="report-time mb-3">
                <span
                  >Đăng bởi {{ data.publisher }} |
                  {{ formatDateDay(data.created_at) }}</span
                >
              </div>
            </div>
            <div class="col-md-6 d-md-flex flex-md-row-reverse mb-sm-4 mb-4">
              <ShareNetwork
                network="LinkedIn"
                :title="data.title"
                :url="`http://192.168.0.103:8080/blog/post/${data.slug}`"
                :quote="`VHEC Blog: ${data.title}`"
              >
                <b-icon icon="linkedin" font-scale="1.5"></b-icon>
              </ShareNetwork>

              <ShareNetwork
                network="facebook"
                :url="`http://192.168.0.103:8080/blog/post/${data.slug}`"
                :title="data.title"
                :quote="`VHEC Blog: ${data.title}`"
                hashtags="vhec, vhec-blog"
              >
                <b-icon icon="facebook" font-scale="1.5"></b-icon>
              </ShareNetwork>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3 mb-3">
      <div class="col-md-8 mx-auto">
        <div>
          <img
            class="img-responsive"
            :src="`${url}/images/${data.image}`"
            alt=""
            srcset=""
            width="100%"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class="news-full-content mb-40" v-html="html"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 mx-auto">
        <el-tag type="info" :key="index" v-for="(i, index) in tag">{{
          i
        }}</el-tag>
      </div>
    </div>
    <el-divider content-position="center">Hết</el-divider>
    <div class="recent-post-title row col-md-8 m-auto">
      <div class="d-flex justify-content-between align-items-center">
        <div class="title-recent d-flex align-items-center">
          <h4>
            <b-icon icon="bar-chart-steps" style="color: #007cc2"></b-icon>
          </h4>
          <h4 class="color-main" style="margin-left: 10px">
            Bài viết cùng chủ đề
          </h4>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-8 mx-auto">
        <ItemPost
          v-for="(i, index) in lstPostInCategory"
          :key="index"
          publisher="Admin"
          :post-title="i.title"
          :post-slug="i.slug"
          :created-at="i.created_at"
          :image="`${url}/images/${i.image}`"
          :tag="i.tag.split('%')"
        ></ItemPost>
      </div>
    </div>
  </div>
</template>

<script>
import { getPostById } from '~/services/post-service'
import makeMetaTags from '@/helpers/makeMetaTags'
import { prismify } from '~/helpers/formatting'
import { getListPostBySeries } from '~/services/category-service'
import ItemPost from '~/components/post-widget/ItemPost.vue'
export default {
  components: { ItemPost },
  async asyncData(i) {
    // const slug = params.slug.split('-').reverse()[0]
    const slug = i.query.s.split('-').reverse()[0]
    const dt = await getPostById(slug)
    const data = dt.data.data[0]
    return { data }
  },
  data() {
    return {
      slug_text: '',
      des: '',
      html: '',
      tag: [],
      lstPostInCategory: [],
      url: process.env.BASE_URL,
    }
  },
  head() {
    return {
      title: this.data.title,
      meta: makeMetaTags(this.data.title, this.data.title),
    }
  },
  async mounted() {
    console.log(process.env.BASE_URL)
    Prism.highlightAll()
    this.strip(this.data.body)
    const el = new DOMParser().parseFromString(this.data.body, 'text/html')
    const imgs = el.getElementsByTagName('img')

    imgs.forEach((element) => {
      element.setAttribute('width', '100%')
      element.setAttribute('height', '100%')
      element.outerHTML =
        '<div class="row"> <div class="col-md-12 mx-auto">' +
        element.outerHTML +
        '</div></div>'
    })
    console.log(el.body.innerHTML)
    this.html = el.body.innerHTML

    // tag
    // this.tag = this.data.tag.split('%') || []

    var dt = await getListPostBySeries(this.data.category_id)

    this.lstPostInCategory = dt.data.data
  },
  methods: {
    getTitlePost() {},
    formatDateDay(date) {
      const options = {
        weekday: 'long',
        year: 'numeric',
        month: 'long',
        day: 'numeric',
      }
      return new Date(date).toLocaleDateString('vi', options)
    },
    strip(html) {
      const doc = new DOMParser().parseFromString(html, 'text/html')
      this.des = doc.body.textContent
      return doc.body.textContent || ''
    },
    async getListPostInCategory() {
      var dt = await getListPostBySeries(this.data.category_id)

      this.lstPostInCategory = dt.data.data
    },
  },
}
</script>

<style lang="scss">
.report-time span {
  color: #8e8c8c;
  font-size: 13px;
}

.share-network-linkedin {
  margin-left: 15px;
  color: #06b0d8;
}
.share-network-facebook {
  margin-left: 15px;
}

.el-tag + .el-tag {
  margin-left: 10px;
}
</style>
