<template>
  <footer>
    <div class="footer">
      <div class="logo_img">
        <a href="/blog">
          <img src="@/assets/images/logo.png" alt="" srcset="" class="logo"
        /></a>
      </div>
    </div>
    <div class="copyright-area">
      <div class="col-md-8">
        <p class="copyright">© 2020 All Rights Reserved | Powered by VHEC</p>
      </div>
    </div>
  </footer>
</template>

<script>
export default {}
</script>

<style lang="scss">
.footer {
  width: 100%;
  height: 60px;
  background-color: #007cc2;
  margin-top: 30px;
}

.copyright-area {
  width: 100%;
  background-color: white;

  .copyright {
    color: #555;
    text-align: center;
    font-size: 13px;
  }
}
</style>
