<template>
  <div>
    <el-tiptap
      :content="pContent"
      :extensions="extensions"
      placeholder="Nhập bài viết..."
      :char-counter-count="true"
      height="100%"
      @onUpdate="onUpdate"
      editorClass="hihi"
    >
    </el-tiptap>
  </div>
</template>

<script>
import { CodeView } from 'element-tiptap'
import codemirror from 'codemirror' // install 'codemirror' in your own project

import 'codemirror/lib/codemirror.css' // import base style
import 'codemirror/mode/xml/xml.js' // language
import 'codemirror/addon/selection/active-line.js'; // require active-line.js
import 'codemirror/addon/edit/closetag.js'; // autoCloseTags
import {
  // necessary extensions
  Doc,
  Text,
  Paragraph,
  Heading,
  Bold,
  Underline,
  Italic,
  Strike,
  ListItem,
  BulletList,
  OrderedList,
  Image,
  Link,
  CodeBlock,
  Blockquote,
  TextColor,
  FontSize,
  FontType,
  TextAlign,
  Fullscreen,
  Preview,
  LineHeight,
  FormatClear,
  Code
} from 'element-tiptap'

export default {
  model: {
    prop: 'pContent',
    event: 'onChange',
  },
  props: {
    pContent: {
      type: String,
      required: true,
    },
  },
  data() {
    // editor extensions
    // they will be added to menubar and bubble menu by the order you declare.
    return {
      extensions: [
        new Doc(),
        new Text(),
        new Paragraph({
          HTMLAttributes: {
            class: 'my-custom-paragraph',
          },
        }),
        new Heading({ level: 5 }),
        new Bold({ bubble: true }), // render command-button in bubble menu.
        new Underline({ bubble: true, menubar: false }), // render command-button in bubble menu but not in menubar.
        new Italic(),
        new Strike(),
        new ListItem(),
        new BulletList(),
        new OrderedList(),
        new Image({
          urlPattern: '',
          //   uploadRequest:
        }),
        new Link(),
        new CodeBlock(),
        new Code(),
        new Blockquote(),
        new TextColor({
          colors: ['#007cc2'],
        }),
        new FontType(),
        new FontSize(),
        new TextAlign(),
        new Fullscreen(),
        new Preview(),
        new LineHeight({
          lineHeights: ['100%', '200%', '300%'],
        }),
        new FormatClear(),
        new CodeView({
          codemirror,
          codemirrorOptions: {
            lineNumbers: true,
            lineWrapping: true,
            tabSize: 2,
            tabMode: 'indent',
            mode: 'text/html',
          },
        }),
      ],
    }
  },
  methods: {
    onUpdate(value) {
      this.$emit('onChange', value)
    },
  },
}
</script>
