<template>
  <div class="container new-post">
    <label for="">Tiêu đề<span class="e-cl">*</span></label>
    <div class="row">
      <el-input placeholder="Nhập tiêu đề" v-model="inputTitle"></el-input>
    </div>
    <!-- Tag -->
    <div class="row" style="margin-top: 15px">
      <div class="col-md-10">
        <div class="wrapper-tag">
          <el-tag
            :key="tag"
            v-for="tag in dynamicTags"
            closable
            :disable-transitions="false"
            @close="handleClose(tag)"
          >
            {{ tag }}
          </el-tag>
          <el-input
            class="input-new-tag"
            v-if="inputVisible"
            v-model="inputValue"
            ref="saveTagInput"
            size="mini"
            @keyup.enter.native="handleInputConfirm"
            @blur="handleInputConfirm"
          >
          </el-input>
          <el-button
            v-else
            class="button-new-tag"
            size="small"
            @click="showInput"
            :disabled="disableNewTag"
            >+ New Tag</el-button
          >
        </div>
      </div>
      <div class="col-md-2">
        <el-dropdown trigger="click">
          <div class="wrapper-tag">
            <span>Lưu</span>
            <i class="el-icon-arrow-down el-icon--right"></i>
          </div>
          <el-dropdown-menu slot="dropdown" class="dropdown-save-post">
            <div class="wrapper-dropdown">
              <!-- dropdown -->
              <div class="dropdown-title">
                <span class="text-title">Xuất bản bài viết</span>
              </div>
              <div class="divider-cus"></div>
              <div class="row">
                <div class="sized-box-10"></div>
                <el-radio v-model="radio" label="0">Công khai</el-radio>
                <div class="sized-box-10"></div>
                <el-radio v-model="radio" label="1">Không công khai</el-radio>
                <div class="sized-box-10"></div>
              </div>
              <div class="divider-cus"></div>
              <!-- type description -->
              <div class="radio-des">
                <span v-if="radio == '0'">
                  <b-icon icon="globe2" class="grey-color"></b-icon>
                  Mọi người có thể thấy post</span
                >
                <span v-if="radio == '1'">
                  <b-icon icon="eye-slash-fill" class="grey-color"></b-icon>
                  Chỉ những người có liên kết đến post này, mới có thể xem
                  được</span
                >
              </div>
              <span class="e-cl" v-if="this.inputTitle == ''"
                >* Vui lòng nhập tiêu đề</span
              >
              <div class="sized-box-10" v-if="this.inputTitle == ''"></div>
              <div class="btn-save">
                <el-button
                  type="success"
                  :disabled="this.inputTitle == ''"
                  @click="savePost()"
                  >Đăng bài</el-button
                >
              </div>
            </div>
          </el-dropdown-menu>
        </el-dropdown>
      </div>
    </div>
    <div class="sized-box-15"></div>
    <!-- Editor -->
    <div class="editor">
      <Tiptap @changeContent="changeContent"></Tiptap>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      inputTitle: '',
      dynamicTags: [],
      inputVisible: false,
      inputValue: '',
      disableNewTag: false,
      radio: '0',
      contentPost: '',
    }
  },
  methods: {
    viewTest() {},
    changeContent(newVal) {
      this.contentPost = newVal
    },
    handleClose(tag) {
      this.dynamicTags.splice(this.dynamicTags.indexOf(tag), 1)
      if (this.dynamicTags.length < 3) {
        this.disableNewTag = false
      }
    },

    showInput() {
      this.inputVisible = true
      this.$nextTick((_) => {
        this.$refs.saveTagInput.$refs.input.focus()
      })
    },
    handleInputConfirm() {
      if (this.dynamicTags.length == 3) {
        this.disableNewTag = true
      } else {
        let inputValue = this.inputValue
        if (inputValue) {
          this.dynamicTags.push(inputValue)
        }
        this.inputVisible = false
        this.inputValue = ''
      }
    },
    savePost() {
      console.log('save post')
      this.$test('hihi')
    },
  },
}
</script>

<style lang="scss" scoped>
.el-tag + .el-tag {
  margin-left: 10px;
}
.button-new-tag {
  margin-left: 10px;
  height: 32px;
  line-height: 30px;
  padding-top: 0;
  padding-bottom: 0;
}
.input-new-tag {
  width: 90px;
  margin-left: 10px;
  vertical-align: bottom;
}
.wrapper-tag {
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  height: 50px;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 4px;
}
.el-dropdown {
  width: 100%;
}

.dropdown-save-post {
  width: 300px;
  left: 1096px;

  .wrapper-dropdown {
    width: 90%;
    margin: 0 auto;
    .dropdown-title {
      text-align: center;
    }
    .radio-des {
      margin-bottom: 10px;
      span {
        font-size: 13px;
      }
    }
  }
}
</style>
