<template>
  <div class="container list-post">
    <h1>1111111</h1>
  </div>
</template>

<script>
import { getListPost } from '~/services/post-service'
import ItemPost from '~/components/post-widget/ItemPost.vue'
export default {
  components: { ItemPost },
  async asyncData() {
    const dt = await getListPost()
    const lstPost = dt.data.data
    return { lstPost }
  },
  data() {
    return {
      links: [],
      state: '',
      timeout: null,
      baseImg: process.env.BASE_URL,
    }
  },
  mounted() {
    this.links = this.loadAll()

    console.log(process.env.BASE_URL)
  },
  methods: {
    getDate(createAt) {
      const rs = this.$common.formatDateDay(createAt)

      return rs
    },

    // search
    loadAll() {
      return [
        { value: 'vue', link: 'https://github.com/vuejs/vue' },
        { value: 'element', link: 'https://github.com/ElemeFE/element' },
        { value: 'cooking', link: 'https://github.com/ElemeFE/cooking' },
        { value: 'mint-ui', link: 'https://github.com/ElemeFE/mint-ui' },
        { value: 'vuex', link: 'https://github.com/vuejs/vuex' },
        { value: 'vue-router', link: 'https://github.com/vuejs/vue-router' },
        { value: 'babel', link: 'https://github.com/babel/babel' },
      ]
    },
    querySearchAsync(queryString, cb) {
      var links = this.links
      var results = queryString
        ? links.filter(this.createFilter(queryString))
        : links

      clearTimeout(this.timeout)
      this.timeout = setTimeout(() => {
        cb(results)
      }, 3000 * Math.random())
    },
    createFilter(queryString) {
      return (link) => {
        return link.value.toLowerCase().indexOf(queryString.toLowerCase()) === 0
      }
    },
    handleSelect(item) {
      console.log(item)
    },
  },
}
</script>

<style lang="scss" scoped>
.list-post {
  margin-top: 30px;
}
</style>
