<template>
  <div class="category">
    <el-tooltip
      class="item"
      effect="dark"
      content="Tạo mới chủ đề"
      placement="right"
    >
      <el-button
        type="primary"
        icon="el-icon-edit"
        @click="newCategoryDialog()"
      ></el-button>
    </el-tooltip>
    <el-table
      :data="
        data.filter(
          (data) =>
            !search ||
            data.category_name.toLowerCase().includes(search.toLowerCase())
        )
      "
      style="width: 100%"
      row-key="id"
      @expand-change="change"
    >
      <el-table-column type="expand">
        <template slot-scope="props">
          <!-- Add post vao series -->
          <el-tooltip
            class="item"
            effect="dark"
            content="Thêm bài viết vào Series"
            placement="right"
          >
            <el-button
              type="primary"
              icon="el-icon-edit"
              @click="addPostToSeries(props.row.id)"
            ></el-button>
          </el-tooltip>
          <el-divider content-position="left">Danh sách bài viết</el-divider>
          <el-table
            :data="props.row.lst"
            style="width: 90%"
            v-loading="loading_table_ep"
          >
            <el-table-column fixed prop="ma_post" label="ID" width="150">
            </el-table-column>
            <el-table-column prop="title" label="Tiêu đề"> </el-table-column>
            <el-table-column fixed="right" label="" width="120">
              <template slot-scope="scope">
                <el-tooltip
                  class="item"
                  effect="dark"
                  content="Xóa bài viết khỏi Series"
                  placement="right"
                  ><el-button type="text" size="small"
                    >Xóa</el-button
                  ></el-tooltip
                >
              </template>
            </el-table-column>
          </el-table>
        </template>
      </el-table-column>
      <el-table-column fixed type="index" :index="indexMethod" width="100">
      </el-table-column>
      <el-table-column prop="category_name" label="Tên" width="150">
      </el-table-column>
      <el-table-column prop="description" label="Mô tả"> </el-table-column>
      <el-table-column fixed="right" width="220">
        <template slot="header" slot-scope="scope">
          <el-input v-model="search" size="mini" placeholder="Type to search" />
        </template>
        <template slot-scope="scope">
          <el-button type="text" size="small">
            <nuxt-link
              :to="{ path: '/admin/up-post', query: { id: scope.row.id } }"
              >Chỉnh sửa</nuxt-link
            >
          </el-button>
          <el-popconfirm
            confirm-button-text="Xoá"
            cancel-button-text="Huỷ"
            title="Bạn muốn xoá bài viết?"
            icon="el-icon-info"
            icon-color="red"
            @confirm="deletePost(scope.row.id_post)"
          >
            <el-button slot="reference" type="text" size="small">Xoá</el-button>
          </el-popconfirm>
        </template>
      </el-table-column>
    </el-table>
    <el-dialog
      title="Tạo chủ đề mới"
      :visible.sync="dialogVisible"
      width="30%"
      :before-close="handleClose"
    >
      <label for="">Tên chủ đề: </label>
      <el-input placeholder="Tên chủ đề..." v-model="category.name"></el-input>

      <div class="sized-box-15"></div>
      <label for="">Mô tả: </label>
      <el-input
        type="textarea"
        :rows="2"
        placeholder="Mô tả..."
        v-model="category.description"
      >
      </el-input>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">Hủy</el-button>
        <el-button
          type="primary"
          @click="newCategory()"
          v-loading.fullscreen.lock="fullscreenLoading"
          >Tạo</el-button
        >
      </span>
    </el-dialog>
    <el-dialog title="Danh sách bài viết" :visible.sync="dialogTableVisible">
      <el-table :data="gridData">
        <el-table-column
          property="ma_post"
          label="ID"
          width="150"
        ></el-table-column>
        <el-table-column
          property="title"
          label="Tiêu đề"
          width="380"
        ></el-table-column>
        <el-table-column property="address" label="">
          <template slot-scope="scope">
            <el-popconfirm
              confirm-button-text="Thêm"
              cancel-button-text="Huỷ"
              title="Bạn muốn thêm bài viết?"
              icon="el-icon-info"
              @confirm="updateCategoryInPost(scope.row)"
            >
              <el-button slot="reference" type="text" size="small"
                >Thêm</el-button
              >
            </el-popconfirm>
          </template>
        </el-table-column>
      </el-table>
    </el-dialog>
  </div>
</template>

<script>
import {
  getListCategory,
  newCategory,
  getListPostAdd,
  getListPostBySeries,
  addCategoryInPost,
} from '~/services/category-service'
export default {
  layout: 'empty',
  async asyncData() {
    const dt = await getListCategory()
    const data = dt.data.data
    return { data }
  },
  data() {
    return {
      activeIndex: '3',
      search: '',
      dialogVisible: false,
      dialogTableVisible: false,
      category: {
        name: '',
        description: '',
      },
      fullscreenLoading: false,
      loading_table_ep: false,
      currentCategoryId: 0,
      gridData: [],
    }
  },
  methods: {
    indexMethod(index) {
      return index
    },
    async updateCategoryInPost(row) {
      var dt = await addCategoryInPost({
        category_id: this.currentCategoryId,
        ma_post: row.ma_post,
      })

      if (dt.data.code === 0) {
        this.$message({
          message: 'Thêm mới thành công',
          type: 'success',
        })
      } else {
        this.$message.error('Đã xảy ra lỗi')
      }
    },
    async change(row, expandedRows) {
      this.loading_table_ep = true
      var dtBySeries = await getListPostBySeries(row.id)

      var buildDataEp = dtBySeries.data.data

      this.data.forEach((element) => {
        if (element.id == row.id) {
          element.lst = buildDataEp
          this.loading_table_ep = false
          return
        }
      })
      this.loading_table_ep = false
    },
    async addPostToSeries(row) {
      console.log(row)
      const dt = await getListPostAdd()
      this.gridData = dt.data.data
      this.dialogTableVisible = true
      this.currentCategoryId = row
    },
    newCategoryDialog() {
      this.dialogVisible = !this.dialogVisible
    },
    async newCategory() {
      this.fullscreenLoading = true
      const dt = await newCategory({
        category_name: this.category.name,
        description: this.category.description,
      })

      if (dt.data.code === 0) {
        this.fullscreenLoading = false
        this.dialogVisible = false
        // show messge thanh cong
        this.$message({
          message: 'Tạo thành công',
          type: 'success',
        })
      } else {
        // show messge loi
        this.$message.error('Có lỗi xảy ra')
      }
    },
    handleClose(done) {
      this.$confirm('Bạn muốn hủy tạo chủ đề mới?')
        .then((_) => {
          done()
          console.log('okkk')
        })
        .catch((_) => {})
    },
  },
}
</script>

<style></style>
